@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url('../public/Inter-Black.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-Bold.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-ExtraBold.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-ExtraLight.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-Light.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-Medium.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-SemiBold.woff2');
}
@font-face {
    font-family: Inter;
    src: url('../public/Inter-Thin.woff2');
}